<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CSGO GameState Spotify</title>
  </head>
  <body>
    <script>
        // You can also require other files to run in this process
        window.httpServer = require('http')
    </script>
    <script>
        // You can also require other files to run in this process
        require('../frontend/spotify.js')
    </script>
    <script>
        // You can also require other files to run in this process
        require('../dist/main.js')
    </script>
  </body>
</html>
