#csgo {
  border-radius: 25px;
  background-color:rgba(192, 192, 192, 0.3);

  padding: 20px;

  width: 90%;
  height: auto;

  margin-top: 20px;
  margin-bottom: 20px;

  vertical-align: middle;

  img {
    width: 150px;
    float: left;
  }
}
